<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PDF-Konverter</title>
</head>
<body>
    <h1>PDF-Konverter</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="file">Wählen sie eine Datei:</label>
        <input type="file" id="file" name="file" required>
        <button type="submit">Hochladen und Konvertieren</button>
        </form>
</body>
</html>